In [1]:
# Method

In [2]:
mylist=[1,2,3,4,5]

In [3]:
mylist.append(4)

In [4]:
mylist

[1, 2, 3, 4, 5, 4]

In [6]:
mylist.insert(1,2)

In [7]:
mylist

[1, 2, 2, 3, 4, 5, 4]

In [11]:
mylist.count(1)

1

In [13]:
help(mylist.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [14]:
# use 'help' function to learn more about a method

In [15]:
#function

In [16]:
def name_function():
    print('Hello')

In [17]:
name_function()

Hello

In [28]:
def my_function(name='sam'):
    print('Hello '+ name)

In [30]:
my_function()

Hello sam

In [38]:
def my_function():
    return 'Hello '+name
name='sam'

In [40]:
result=my_function()

In [41]:
result

'Hello sam'

In [42]:
def multiply(x,y):
    return x*y

In [43]:
result=multiply(2,3)

In [44]:
result

6

In [45]:
#dog check challenge

In [58]:
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [59]:
dog_check('Dog is coming')

True

In [60]:
# beter way of writing the code above

In [70]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [71]:
dog_check('Dog ran away')

True

In [72]:
#pig latin challenge

In [76]:

def pig_latin(word):
    
    first_letter = word[0]
   
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [77]:
pig_latin('apple')

'appleay'

In [1]:
def say_hello():
    print('hello')

In [3]:
say_hello()

hello

In [20]:
def greetings(name):
    print(f'Hello' )

In [21]:
greetings('Arnold')

Hello Arnold

In [22]:
def multiply(x,y):
    return(x*y)

In [23]:
multiply(2,8)

16

In [24]:
result=multiply(2,8)

In [25]:
result

16

In [8]:

def prime_check(num):
    for x in range(2,num):
        if num % x ==0:
            print(f'{num} is NOT prime')
            break
    else:
        print(f'{num} is prime')

In [22]:
prime_check(90)

90 is NOT prime

In [21]:
import math
num = 7
math.sqrt(9)

3.0

In [54]:
text='boy girl'

In [55]:
key = text.split()

In [60]:
key[1][3]

'l'

In [48]:
text.split()

['boy', 'girl']

In [52]:
text.

0

In [21]:
name = 'macdonald'

text = name.capitalize()[0:2:1]

In [22]:
text

'Ma'

In [3]:
name.capitalize()

'Macdonald'

In [4]:
name.split()

['macdonald']

In [5]:
x = name.capitalize

In [6]:
name.upper()[0] + name.upper()[3]

'MD'

In [35]:
name = 'macdonald'

In [52]:
name[0:3].capitalize() + name[3:].capitalize()

'MacDonald'

In [53]:
name[0:8:2].upper()

'MCOA'

In [1]:
num = [1,2,3,2,3]

In [4]:
num[2:3]

[3]

In [5]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [20]:
 num = [1,3,3]

In [21]:
list(range(0, len(num) -1))

[0, 1]

In [22]:
for i in range(0, len(num) -1):
    print(i)

0
1

In [17]:
num1 = [1,3,3]

for i in range(0, len(num1)-1):
    print(i)

0
1

In [11]:
list1 = [1,2,3,4]

In [12]:
for i in range(0, len(list)-1):
    print(i)

0
1
2

In [1]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

In [5]:
word = 'Hello Freshers'

In [6]:
word1 = word.split()

In [7]:
word1

['Hello', 'Freshers']

In [9]:
word1[0]

'Hello'

In [10]:
word1[0][0]

'H'

In [11]:
word1

['Hello', 'Freshers']

In [13]:
word1[1][0]

'F'

In [14]:
word1

['Hello', 'Freshers']

In [23]:
name = 'macdonald'

In [27]:
name[0:3].capitalize() + name[3:].capitalize()

'MacDonald'

In [28]:
text = ' I am home'

In [30]:
' '.join(text.split()[::-1])

'home am I'

In [34]:
' '.join(text.split()[::-1])

'home am I'

In [35]:
x = 1

In [44]:
x+= 1

In [42]:
x

3

In [45]:
x

4

In [1]:
a = 3
b = 2

In [3]:
sum((a,b))

5

In [18]:
def make_sum(arr):
    for num in arr:
        return sum((arr))

In [19]:
make_sum([1,2,3])

6