In [1]:
# range

In [5]:
for num in range(2,10,2):
    print(num)
# using for loop for a range

2
4
6
8

In [6]:
# range also uses the start:stop:stepsize

In [9]:
range(0,11)

range(0, 11)

In [11]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mylist=list(range(1,10))

In [13]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
index_count=0

for letters in 'abcde':
    print(f'At index {index_count} the letter is {letters}')
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [1]:
for i,items in enumerate('abcde'):
    print('At index {} the letter is {}'.format(i,items))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
for num in range(2,11,2):
    print(num)

2
4
6
8
10

In [5]:
word='abcde'

for i,letters in enumerate(word):
    print(f'At index {i} the letter is {letters}')

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
# for enumerate the first variable after the 'for loop' represent the index positon while
# the second variable name represent the index of the word that been enumerated

In [12]:
for a,b in enumerate ('abcde'):
    print(f'At index {a} the letter is {b}' )

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
ages=[20,23,24]
name=['tope','Angel','Faith']

In [15]:
list(zip(name,ages))

[('tope', 20), ('Angel', 23), ('Faith', 24)]

In [25]:
for a,n in list(zip(name,ages)):
    print(f'{a} is {n} years old')

tope is 20 years old
Angel is 23 years old
Faith is 24 years old

In [ ]:
#zip operator is used to meg two or more lists

In [26]:
'x' in ['a','b','c']

False

In [27]:
1 in [1,2,3]

True

In [28]:
'boy' in 'is a boy'

True

In [32]:
'e' in {'key':322,'girl':'many'}

False

In [33]:
d={'key':322,'girl':'many'}

In [35]:
322 in d.values()

True

In [36]:
322 in d.items()

False

In [38]:
d.items()

dict_items([('key', 322), ('girl', 'many')])

In [39]:
mylist=[10,20,40,50]

In [40]:
min(mylist)

10

In [41]:
max(mylist)

50

In [43]:
mylist=[1,2,3,4,5,6,7]

from random import shuffle

In [44]:
shuffle(mylist)

In [45]:
mylist

[7, 6, 4, 5, 1, 3, 2]

In [48]:
from random import randint

randint(0,10)

7

In [49]:
randint(9,19)

13

In [ ]:
input str('Your name is:')

In [ ]:
de

In [1]:
input('Your name is ')

Your name is fr

'fr'

In [5]:
input('Enter your name: ')

Enter your name:

''

In [6]:
int(input('Your name:'))*float(input('Enter another number'))

Your name:ase

ValueError: invalid literal for int() with base 10: 'ase'